<!DOCTYPE html>
<html lang="en">

<head>
    <script>
        if (localStorage.getItem('darkMode') === '1') {
        document.documentElement.classList.add('dark-mode');
        }
    </script>
    {% if base_href %}<base href="{{ base_href }}">{% endif %}
    <meta charset="UTF-8">
    <title>{% block head_title %}{% endblock %}</title>
    <link rel="stylesheet" href="styles/styles.css">
    {% block head_extra %}{% endblock %}
</head>

<body>
{% block body_scripts_top %}{% endblock %}
{% block chrome %}
    <script src="scripts/navbar.js"></script>
    <script src="scripts/scroltotop.js"></script>
    <div class="scroll-to-top-button" id="scrollToTopButton"><span class="scroll-to-top-arrow"></span></div>
{% endblock %}
<div class="main-content">
    <nav id="navbar">{% block navbar %}{% endblock %}</nav>
    {% block content %}{% endblock %}
</div>
{% block body_scripts_bottom %}{% endblock %}
</body>

</html>
